.main1,.mainnav
{
    font-size: 14px;
}
.main1
{
    width: 20%; 
    height: 70px;
}
.main1 img
{
    width: 300px !important;
    padding-left: 100px !important;
}
li{list-style: none;}
li a{text-decoration: none;}
.dropdown
{
    position: absolute; 
    width: 150px;
    top: 65px; 
    opacity: 0;
    visibility: hidden;
    transition: ease-out .35s;
    -moz-transition: ease-out .35s;
    -webkit-transition: ease-out .35s;
}
.donation-dropdown
{
    top: 38px;
}
.mainnav li
{
    float: left;
    padding: 5px;
    background: white;
    /* border-left: 1px dotted #fff; */
}
.mainnav .home
{
    border: none;
    background-color: rgb(66, 103, 200);
    border-radius: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 90px;
}
.fa-angle-down
{
    padding-left: 5px;
}
.mainnav li:first-child
{
    border: none;
    padding-top: 5px;
    padding-bottom: 5px;
}
.mainnav li a
{ 
    display: block;
    padding: 2px 20px;
    color:black;
    font-family: arial;
}
.mainnav li:hover
{
    background: rgb(66, 103, 200);
    border-radius: 25px;
    transition: ease-in .35s;
    -moz-transition: ease-in .35s;
    -webkit-transition: ease-in .35s;
}
.mainnav li:hover a
{
    text-decoration: none;
    color: white;
    transition: ease-in .35s;
    -moz-transition: ease-in .35s;
    -webkit-transition: ease-in .35s;
}
.subs 
{
    left: -35px;
    position: relative;
    z-index: 1;
    top: 0px;
    width: 250px;
    border-left: none !important;
}
.subs:last-child
{
    border: none !important;
}
.hassubs:hover .dropdown,.hassubs .hassubs:hover .dropdown
{
    opacity: 1;
    visibility: visible; 
    transition: ease-in .35s;
    -moz-transition: ease-in .35s;
    -webkit-transition: ease-in .35s;
}
.mainnav li:hover ul a,.mainnav li:hover ul li ul li a{color: black;}
.mainnav li ul li:hover,.mainnav li ul li ul li:hover{
    background: rgb(66, 103, 200);
    border-radius: 0px;
    transition: ease-in-out .35s;
    -moz-transition: ease-in-out .35s;
    -webkit-transition: ease-in-out .35s;
}
.mainnav li ul li:hover a,.mainnav li ul li ul li:hover a
{
    color: white;
    transition: ease-in-out .35s;
    -moz-transition: ease-in-out .35s;
    -webkit-transition: ease-in-out .35s;
}
.hassubs .hassubs .dropdown .subs{
    left: 100px;
    position: relative;
    z-index: 1;
    width: 320px;
    top: 0px;
}
.hassubs .hassubs .dropdown
{
    position: absolute;
    width: 150px;
    left: 80px;
    top: 0px;
    opacity: 0;
    visibility: hidden;
    transition: ease-out .35s;
    -moz-transition: ease-out .35s;
    -webkit-transition: ease-out .35s;
}
.news
{
    margin-right:35px;
    left: 100px;
}
.donation
{
    width: 150px;
    top: 0px;
    right: 80px;
}
@media only screen and (max-width:992px)
{
    .main1
    {
        width: 20%;
        height: 70px;
    }
    .mainnav .home
{
    border: none;
    background-color: rgb(66, 103, 200);
    border-radius: 25px;
    margin-left: 0px; 
}
.news
{
    margin-right: 0px;
}
.donation
{
    width: 25%;
    margin-left: 35px;
}
.dropdown
{
    position: absolute; 
    width: 150px;
    top: 150px; 
    opacity: 0;
    visibility: hidden;
    transition: ease-out .35s;
    -moz-transition: ease-out .35s;
    -webkit-transition: ease-out .35s;
}
.about-dd
{
    left: 150px;
    top: 120px;
}
.services-dd
{
    left: 150px;
}
.fp-dd
{
    left: 150px;
    top: 190px;
}
.donation-dropdown
{
    top: 38px;
}
}
@media (max-width:1024px)
{
    .main
    {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .main1 img
    {
        margin-left: -110px;
        margin-right: 0px;
    }
}