body{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.main{
    background-color: rgb(66,103,200) !important;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}
.main1 img
{
    width: 300px !important;
    padding-left: 100px !important;
}
.icons
{
    width: 200px;
    display: flex;
    justify-content: space-evenly;
}
.fa-facebook,.fa-instagram,.fa-twitter,.fa-youtube
{
    color: white;
}
.fa-whatsapp
{
    background-color: #25D366;
    color: white;
    width: 20px;
    height: 18px;
    text-align: center;
    border-radius: 5px;
}
button{
    height: 30px;
    color: grey;
    border: 1px solid black;
}
.third
{
    display: flex;
    background-color: white;
    justify-content: space-around;
    align-items: center;
    height: 50px;
}
marquee
{
    color:white;
    background-color: rgb(66,103,200);
    height:30px;
    width: 90%;
}
.intro-img
{
    width: auto;
    height: 40px;
}
h2{
    padding-top: 50px;
    color: rgb(66,103,200);
    text-align: center;
}
.text
{
    color:green;
}
.intro-text
{
    width: 86%;
    padding-left: 150px;
    line-height: 1.7;
    padding-bottom: 100px;
}
p
{
    color: grey;
    font-size: 16px;
    text-align: justify;
    padding-top: 10px;
}
.fourth
{
    background-color: #316DC3;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    height: 250px;
    max-width: 100%;
}
/* .data
{
    color: white;
    position: relative;
    font-size: 40px;
} */
.div-text
{
    color: white;
    font-size: 16px;
}
.food
{
    width: 40px;
    height: 40px;
    margin: 10px 120px 10px 120px;
    position: absolute;
}
.family
{
    width: 40px;
    height: 40px;
    margin: 10px 100px 10px 100px;
    position: absolute;
}
.medical,.edu
{
    width: 40px;
    height: 40px;
    margin: 10px 70px 10px 70px;
    position: absolute;
}
.fifth
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: whitesmoke;
    padding: 0px 80px 0px 80px;
}
.sixth
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: whitesmoke;
    height: 270px;
    padding: 0px 80px 0px 80px;
    margin-bottom: 20px;
}
.os,.med
{
    background-color: white;
    border: 1px solid whitesmoke;
    box-shadow: -5px 5px 5px lightgrey;
    margin-top: 20px;
    text-align: center;
    width: 370px;
    height: 190px;
}
.dk,.ed
{
    background-color: white;
    border: 1px solid whitesmoke;
    box-shadow: -5px 5px 5px lightgrey;
    margin-bottom: 30px;
    text-align: center;
    width: 370px;
    height: 190px;
}
.wf
{
    background-color: white;
    border: 1px solid whitesmoke;
    box-shadow: -5px 5px 5px lightgrey;
    margin-top: 20px;
    text-align: center;
    width: 370px;
    height: 190px;
}
.ro
{
    background-color: white;
    border: 1px solid whitesmoke;
    box-shadow: -5px 5px 5px lightgrey;
    margin-bottom: 30px;
    text-align: center;
    width: 370px;
    height: 190px;
}
.os img,.wf img,.med img,.dk img,.ro img,.ed img
{
    width:70px;
    padding-bottom: 20px;
    padding-top: 30px;
}
.os h5,.wf h5,.med h5,.dk h5,.ro h5,.ed h5
{
    font-weight: 400;
    color: rgb(66,103,200);
}
.seventh
{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin-bottom: 100px;
}
h3
{
    color: rgb(66,103,200);
    margin-top: 50px;
    margin-bottom: -5px;
    padding-left: 20px;
}
.miup img
{
    width: 70px;
    height: 7px;
    padding-left: 15px;
}
.miup1,.miup2
{
    display: flex;
    justify-content: space-around;
    width: 155%;
}
.hep,.it,.thar,.house
{
    border: 1px solid lightgray;
    height: 70px;
    width: 45%;
    margin-top: 20px;
    background-color: whitesmoke;
} 
.hep img,.house img,.it img,.thar img
{
    max-width: 100%;
    width: 40px;
    height: 40px;
    padding-right: -10px;
    margin-top: -5px;
    margin-left: 15px;
}
.hep h5,.it h5,.house h5,.thar h5
{
    color: rgb(66,103,200);
    display: inline-block;
    margin: 20px 0px 20px 30px;
    position: relative;
    bottom: -2px;
}
.upev
{
    display: flex;
    justify-content: space-around;
    width: 50%;
    flex-direction: column;
}
.upev1 img
{
    width: 600px;
    height: 2px;
    padding-left: 220px;
}
.upev1 h3
{
    padding-left: 220px;
    margin-top: 51px;
}
.mar
{
    width: 50%;
    margin-left: 220px;
}
.ue
{
    margin-top: 15px;
    width: 270px;
    height: 200px;
    background-color: white;
    color: grey;
}
.ninth
{
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
    /* margin-top: 10px;
    margin-bottom: 200px; */
}
.container1
{
    position: relative;
    width: 50%;
    text-align: center;
    padding: auto;
    /* margin: auto; */
    margin-left: 40px;
    margin-right: 5px;
}
.container2
{
    position: relative;
    width: 50%;
    text-align: center;
    padding: auto;
    /* margin: auto; */
    margin-right: 5px;
}
.container3
{
    position: relative;
    width: 50%;
    text-align: center;
    padding: auto;
    margin-right: 5px;
}
.container4
{
    position: relative;
    width: 50%;
    text-align: center;
    padding: auto;
    margin-right: 50px;
    /* margin-left: 10px; */
}
.ic
{
  position: relative;
  top: 38%;
  left: 2%;
  right: 50%;
}
.imag
{
    width: 100%;
    height: auto;
}
.overlay
{
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    height: 0;
    width: 100%;
    overflow: hidden;
    opacity: 0;
    transition: all 300ms ease-in-out 0s;
    background-color: white;
}
.container1:hover .overlay,.container2:hover .overlay,.container3:hover .overlay,.container4:hover .overlay
{
    bottom: 0;
    height: 100%;
    opacity: 0.6;
}
.fa-download,.fa-picture-o
{
    background-color: rgb(66,103,200);
    border-radius: 20px;
    color: white !important;
    height: 30px;
    width: 30px;
    padding-top: 5px;
}
.fa-download:hover,.fa-picture-o:hover
{
    color: white;
}
.tenth
{
    display: flex;
    background-color: rgb(37, 39, 46);
    color: #bbb;
    margin-top: 250px;
    padding-bottom: 50px;
} 
.txt1
{
    list-style-type: none;
    padding-left: 20px;
    font-size: 16px;
}
.fa-phone,.fa-globe,.fa-envelope-o
{
    color: #427900 !important;
}
.txt
{
    padding-top: 90px;
    padding-left: 50px;
}
.ulink
{
    color: white;
    padding-top: 70px;
    padding-left: 70px;
}
.ulink img
{
    margin-top: -25px;
    width: 400px;
    height: 1px;
}
.connect
{
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}
.connect1
{
    padding-top:5px;
    padding-left: 20px;
}
.head-5
{
    padding-left: 20px;
}
.face,.twit,.insta,.yt
{
    background-color: rgb(66,103,200);
    border-radius: 50%;
    width: 30px;
    height: 25px;
    text-align: center;
}
.last
{
    background-color: rgb(66,103,200);
    display: flex;
    padding-left: 70px;
    height: 40px;
}
.last-text
{
    color: white;
    font-size: 16px;
}

.scrollTotop
{
    background-color: rgba(0, 0, 0, 0.1);
    bottom: 15px;
    height: 50px;
    padding: 2px;
    position: fixed;
    right: 15px;
    text-align: center;
    text-decoration: none;
    width: 50px;
    z-index: 99999;
}
.fa-angle-up
{
    color: white;
    font-size: 42px;
}

@media only screen and (max-width: 576px) 
{
    .main
    {
        display: flex;
        flex-direction: row;
        height: auto;
        padding-bottom: 10px;
        padding-top: 10px;
    }
    .icons
    {
        margin-left: 20px;
        padding-right: 30px;
        padding-bottom: 10px;
    }
    .but
    {
        margin-left: 30px;
        padding-top: 10px;
    }
    .intro-text
    {
        padding-left: 80px;
    }
    .fourth
    {
        display: flex;
        flex-direction: column;
        height: 700px;
        justify-content: flex-start;
        align-items: center;
    }
     .head-2
    {
        margin-left: 40px;
    }
    .fifth
    {
        display: flex;
        flex-direction: column;
        width: auto;
    }
    .sixth
    {
        padding-top: 20px;
        padding-bottom: 50px;
        display: flex;
        flex-direction: column;
        height: 700px;
        width: auto;
    }
    .os,.wf,.med,.dk,.ro,.ed
    {
        width: 200%;
        padding-right: 45px;
    }
    .dk,.ro
    {
        margin-bottom: 20px;
    }
    .seventh
    {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .seventh h3
    {
        width:600px;
    }
    .miup1,.miup2
    {
        margin-left: 15px;
        display: flex;
        flex-direction: column;
    }
    .house,.hep,.it,.thar
    {
        width: auto;
    }
    .mar
    {
        margin-left: 200px;
    }
    .upev1 img
    {
        width: 600px;
    }
    .ninth
    {
        display: flex;
        flex-direction: column;
    }
    .container1,.container2,.container3,.container4
    {
        display: flex;
        flex-direction: column;
        width: 60%;
        height: 20%;
        margin-left: 100px;
        margin-bottom: 20px;
    }
    .tenth
    {
        display: flex;
        flex-direction: column;
    }
    .txt1,.txt
    {
        padding-left: 10px;
    }
    .ulink
    {
        padding-left: 20px;
    }
    h5
    {
        padding-left: 20px;
    }
    .connect
    {
        padding-left: 5px;
        margin-right: 100px;
    }
    .last
    {
        padding-left: 20px;
    }
}
@media only screen and (max-width: 992px) 
{
    .main
    {
        display: flex;
        flex-direction: row;
        height: auto;
        padding-bottom: 10px;
        padding-top: 10px;
    }
    .icons
    {
        padding-bottom: 10px;
    }
    .but
    {
        padding-top: 10px;
    }
    .os,.wf,.dk,.ro
    {
        margin-right: 30px;
    }
    .miup h3,.upev1 h3
    {
        font-size: 16px;
        font-weight: bold;
    }
    .upev1 h3,.upev1 img
    {
        padding-left: 150px;
    }
    .mar
    {
        margin-left: 150px;
    }
    .tenth
    {
        width: 130%;
    }
    .txt1,.txt
    {
        font-size: 12px;
        padding-left: 10px;
    }
    .ulink
    {
        padding-left: 20px;
    }
    .ulink img
    {
        width: 200px;
        padding-left: 20px;
    }
    h5
    {
        font-size: 14px;
        padding-left: 20px;
    }
    .connect
    {
        padding-left: 30px;
        margin-right: 200px;
    }
    .last
    {
        width: 130%;
        padding-left: 15px;
    }
    .last-text
    {
        font-size: 10px;
    }
}
